# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
*.so

# C extensions / PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.cache
.pytest_cache/
.coverage

# pyenv / pipenv / poetry / uv (Uncomment if needed)
# .python-version
# Pipfile.lock
# uv.lock
# poetry.lock
# poetry.toml

# PEP 582
__pypackages__/


# Environments & Local configs
.env
.env.*
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Ruff
.ruff_cache/

# PyPI configuration
.pypirc

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# IDE
.idea/

# macOS
.DS_Store

# Docker / Processes
*.pid
*.seed

# Redis dump
dump.rdb

# Misc
*.swp